<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-md-left">
        <div class="row text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <img src="https://res.cloudinary.com/dcvwzsnhj/image/upload/v1764129679/logo2_ruttf9.png" width="80">
                <h5 class="text-uppercase mb-4 font-weight-bold">OU APARTMENT</h5>
                <p>Đại học Mở thành phố Hồ Chí Minh</p>
                <p>0359880031</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Hướng dẫn</h5>
                <p><a href="#" class="text-white">Về chúng tôi</a></p>
                <p><a href="#" class="text-white">Câu hỏi thường gặp</a></p>
                <p><a href="#" class="text-white">Góp ý báo lỗi</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Quy định</h5>
                <p><a href="#" class="text-white">Quy định đăng tin</a></p>
                <p><a href="#" class="text-white">Chính sách bảo mật</a></p>
                <p><a href="#" class="text-white">Giải quyết khiếu nại</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Chưa có tài khoản? Đăng ký ngay!</h5>
                <form method="get" action="register">

                    <button class="btn btn-warning btn-block" >Đăng ký</button>
                </form>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>© 2025 ouapartment.vn</p>
            </div>
        </div>
    </div>
</footer>