<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="https://res.cloudinary.com/dcvwzsnhj/image/upload/v1764129679/logo2_ruttf9.png" width="50" class="me-2">
      <span class="fw-bold">OU APARTMENT</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for a in apartmenttype %}
        <li class="nav-item">
          <a class="nav-link" href="/?apartmenttype_id={{a.id}}">{{ a.name }}</a>
        </li>
        {% endfor %}
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link text-light" href="/">
            <img src="{{current_user.avatar}}" width="36" class="rounded-circle me-2 border border-light">
            Chào <strong>{{current_user.username}}</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/logout">Đăng xuất</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-info" href="/login">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" href="/register">Đăng ký</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link position-relative text-light" href="/cart">
            🏠
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-counter">
              {{ cart_stats.total_quantity }}
            </span>
          </a>
        </li>
      </ul>

      <form class="d-flex ms-3" method="get" action="/">
        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" name="kw">
        <button class="btn btn-outline-primary" type="submit">Tìm</button>
      </form>
    </div>
  </div>
</nav>
